[submodule "lib/BRender-v1.3.2"]
	path = lib/BRender-v1.3.2
	url = https://github.com/dethrace-labs/BRender-v1.3.2.git
[submodule "lib/SteamworksSDK"]
	path = lib/SteamworksSDK
	url = https://github.com/slouken/SteamworksSDK
